h2,
h3 {
	margin-top: 2rem;
}

#title {
	margin-top: 1rem;
	font-weight: 500;
}

#date {
	margin-top: 0.2rem;
}

.post-metadata {
	margin-bottom: 1.4rem;
}

.post-metadata * {
	font-weight: 300;
}

p {
	margin-bottom: 1rem;
	margin-top: 1rem;
	font-size: 1.1rem;
	line-height: 150%;
}

h3 {
	font-size: 1.3rem;
}

h4 {
	margin-top: 1rem;
	font-size: 1.2rem;
}

li p {
	display: inline;
	margin: none;
}

.footer-links{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.footer-link {
	margin: .3rem;
}

code {
	background-color: var(--highlight-background-color);
	border-radius: 2px;
	padding-right: 3px;
	padding-left: 2px;
	margin: 1px;
	font-weight: 500;
}

.code code {
	background-color: initial;
	padding-right: initial;
	padding-left: initial;
	margin: initial;
	font-weight: initial;
}

code span {
	font-family: "CodeSnippets";
	font-size: .8rem;
}

.code-block {
	padding: 0.2rem;
	margin: 1rem;
	overflow-x: scroll;
	overflow-wrap: break-word;
}

.code-block .code {
	border: 0.5px solid lightgray;
	border-radius: 2px;
}

.code-block .filepath {
	color: var(--primary-color-faded);
	margin-bottom: 5px;
}

div.highlight pre {
	white-space: pre-wrap;
	word-break: break-word;
	padding: 0.5rem;
	border-radius: 5px;
}

.anchor {
	color: var(--primary-color-light);
}

.anchor:hover {
	color: var(--primary-color-faded);
}