@font-face {
	font-family: "CodeSnippets";
	src: url("/fonts/SF-Mono/SF-Mono-Regular.otf");
}

:root {
	--primary-color: rgba(20, 20, 20, 1);
	--primary-color-faded: rgba(20, 20, 20, 0.5);
	--primary-color-light: rgba(20, 20, 20, 0.2);
	--highlight-background-color: rgba(2, 144, 226, 0.2);
	--aside-background-color: rgba(226, 211, 2, 0.2);
	--aside-bar-color: rgba(228, 216, 52, 0.849);
}

* {
	margin: 0;
	padding: 0;
	font-family: "system-ui";
}

html,
body {
	width: 100vw;
	height: 100vh;
}

body {
	max-width: 800px;
	margin: 0 auto;
}

.inside {
	max-width: 99%;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

h2,
h3 {
	margin-top: 2rem;
}

p,
h1,
h2,
h3 {
	color: var(--primary-color);
}

header {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

li {
	list-style-type: initial;
	list-style-position: inside;
	margin: 0.5rem;
}

.horizontal-list {
	display: inline-block;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

a:visited {
	color: var(--primary-color);
}

h1 {
	font-weight: 300;
	font-size: 1.5rem;
}

.small-thick {
	font-size: 0.9rem;
	font-weight: 700;
}

.normal-font {
	font-size: 1rem;
	font-family: system-ui;
}

.section-list-item {
	padding: 0.2rem;
}

.blog-list-item {
	list-style-type: none;
}

.blog-post-link {
	font-size: 1rem;
	text-decoration: dotted;
	text-decoration-line: underline;
	text-decoration-color: var(--primary-color-faded);
	text-underline-offset: 2px;
}

.blog-post-link:hover {
	text-decoration-color: var(--primary-color);
}

.code-block {
	padding: 0.2rem;
	margin: 1rem;
	overflow-x: scroll;
	overflow-wrap: break-word;
}

.code-block .code {
	border: 0.5px solid lightgray;
	border-radius: 2px;
}

.code-block .filepath {
	color: var(--primary-color-faded);
	margin-bottom: 5px;
}

div.highlight pre {
	white-space: pre-wrap;
	word-break: break-word;
	padding: 0.5rem;
	border-radius: 5px;
}

.anchor {
	color: var(--primary-color-light);
}

.anchor:hover {
	color: var(--primary-color-faded);
}

footer {
	margin-top: 1rem;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	border-top: 0.5px solid var(--primary-color-light);
}

footer p {
	text-align: center;
	color: var(--primary-color-light);
	font-size: 0.7rem;
}

.socials {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.social-icon {
	width: 35px;
	opacity: 0.5;
	margin-right: 0.5rem;
}

.social-icon:hover {
	opacity: 1;
	transition: 0.2s;
}

code {
	background-color: var(--highlight-background-color);
	border-radius: 2px;
	padding-right: 3px;
	padding-left: 2px;
	margin: 1px;
	font-weight: 500;
}

.code code {
	background-color: initial;
	padding-right: initial;
	padding-left: initial;
	margin: initial;
	font-weight: initial;
}

.aside {
	background-color: var(--aside-background-color);
	padding: 10px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-left: 4px solid var(--aside-bar-color);
}

.homepage-social {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin: 1rem;
}

.rss-block {
	margin-top: 1rem;
}
