{{ define "main" }}
  <main>
      <br>
      {{ .Content }}
      <br>
      <h3>Blogs</h3>
      <ul class="blogroll-blog-list">
        {{ range .Pages }}
          {{ if (not .Params.post) }}
            <li class="section-list-item blogroll-list-item">
                <a class="blogroll-post-link" href={{.Params.link}} target="_blank">{{.Title}}</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
      <h3>Valuable Reads</h3>
      <ul class="blogroll-post-list">
        {{ range .Pages }}
          {{ if .Params.post }}
            <li class="section-list-item blogroll-list-item">
                <a class="blogroll-post-link" href={{.Params.link}} target="_blank">{{.Title}}</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
  </main>
{{ end }}

{{ define "footer" }}
    {{ partial "footer" . }}
{{ end }}