/*  */
/* Fonts */
/*  */
@font-face {
	font-family: "CodeSnippets";
	src: url("/fonts/SF-Mono/SF-Mono-Regular.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "CodeSnippets-Bold";
	src: url("/fonts/SF-Mono/SF-Mono-Bold.otf");
	font-weight: bold;
	font-style: italic;
}

/*  */
/* Element Rules */
/*  */
h2,
h3 {
	margin-top: 2rem;
}

p {
	/* margin-top: 1rem; */
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.3rem;
}

h4 {
	margin-top: 1.3rem;
	font-size: 1.2rem;
}

li p {
	display: inline;
	margin: none;
}


/*  */
/* Block Rules */
/*  */
#title {
	margin-top: 1rem;
	font-weight: 500;
}

#date {
	margin-top: 0.2rem;
}


/*  */
/* Custom Classes */
/*  */
.post-metadata {
	margin-bottom: 1.4rem;
}

.post-metadata * {
	font-weight: 300;
}

.footer-links{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.footer-link {
	margin: .3rem;
}

.anchor {
	color: var(--primary-color-light);
	text-decoration: none;
}

.anchor:hover {
	color: var(--primary-color-faded);
}


/*  */
/* Code Snippets */
/*  */
.code-block {
	margin: .5rem;
	overflow-x: scroll;
	overflow-wrap: break-word;
}

.code-block .filepath {
	color: var(--primary-color-faded);
	font-family: 'CodeSnippets';
	font-size: .8rem;
	margin-top: 0;
	margin-bottom: 0;
}

/* This is a code block */
.code-block-inner code {
	background-color: initial;
	padding-right: initial;
	padding-left: initial;
	margin: initial;
	font-weight: initial;
	color: inherit;
}

div.highlight pre {
	white-space: pre-wrap;
	word-break: break-word;
	padding: 0.5rem;
	border-radius: 5px;
}

code span {
	font-size: .8rem;
	font-family: "CodeSnippets";
}

/* This is an inline code snippet */
code {
	font-family: "CodeSnippets-Bold";
	font-weight: bold;
	font-size: .85em;
	/* color: rgb(219, 39, 119); */
}