#title {
	margin-top: 1rem;
	font-weight: 500;
}

#date {
	margin-top: 0.2rem;
}

.post-metadata {
	margin-bottom: 1.4rem;
}

.post-metadata * {
	font-weight: 300;
}

.rss-link img {
	margin-top: 0.2rem;
	margin-left: 0.1rem;
}

p {
	margin-bottom: 1rem;
	margin-top: 1rem;
	font-size: 1.1rem;
	line-height: 150%;
}

h3 {
	font-size: 1.3rem;
}

h4 {
	margin-top: 1rem;
	font-size: 1.2rem;
}

li p {
	display: inline;
	margin: none;
}

.footer-links{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.footer-link {
	margin: .3rem;
}