/*  */
/* Fonts */
/*  */
@font-face {
	font-family: "CodeSnippets";
	src: url("/fonts/SF-Mono/SF-Mono-Regular.otf") format("opentype");
}

@font-face {
	font-family: 'freight-text-pro-Semibold';
	src: url('/fonts/FreightTextPro/FreightTextProSemibold-Regular.eot');
	src: local('FreightText Pro Semibold'), local('FreightTextProSemibold-Regular'),
			url('/fonts/FreightTextPro/FreightTextProSemibold-Regular.eot?#iefix') format('embedded-opentype'),
			url('/fonts/FreightTextPro/FreightTextProSemibold-Regular.woff2') format('woff2'),
			url('/fonts/FreightTextPro/FreightTextProSemibold-Regular.woff') format('woff'),
			url('/fonts/FreightTextPro/FreightTextProSemibold-Regular.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'freight-text-pro-Bold';
	src: url('/fonts/FreightTextPro/FreightTextProBold-Regular.eot');
	src: local('FreightText Pro Bold'), local('FreightTextProBold-Regular'),
			url('/fonts/FreightTextPro/FreightTextProBold-Regular.eot?#iefix') format('embedded-opentype'),
			url('/fonts/FreightTextPro/FreightTextProBold-Regular.woff2') format('woff2'),
			url('/fonts/FreightTextPro/FreightTextProBold-Regular.woff') format('woff'),
			url('/fonts/FreightTextPro/FreightTextProBold-Regular.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'freight-text-pro-Medium';
	src: url('/fonts/FreightTextPro/FreightTextProMedium-Regular.eot');
	src: local('FreightText Pro Medium'), local('FreightTextProMedium-Regular'),
			url('/fonts/FreightTextPro/FreightTextProMedium-Regular.eot?#iefix') format('embedded-opentype'),
			url('/fonts/FreightTextPro/FreightTextProMedium-Regular.woff2') format('woff2'),
			url('/fonts/FreightTextPro/FreightTextProMedium-Regular.woff') format('woff'),
			url('/fonts/FreightTextPro/FreightTextProMedium-Regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'freight-text-pro-Medium';
	src: url('/fonts/FreightTextPro/FreightTextProMedium-Italic.eot');
	src: local('FreightText Pro Medium Italic'), local('FreightTextProMedium-Italic'),
			url('/fonts/FreightTextPro/FreightTextProMedium-Italic.eot?#iefix') format('embedded-opentype'),
			url('/fonts/FreightTextPro/FreightTextProMedium-Italic.woff2') format('woff2'),
			url('/fonts/FreightTextPro/FreightTextProMedium-Italic.woff') format('woff'),
			url('/fonts/FreightTextPro/FreightTextProMedium-Italic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'freight-text-pro-Black';
	src: url('/fonts/FreightTextPro/FreightTextProBlack-Italic.eot');
	src: local('FreightText Pro Black Italic'), local('FreightTextProBlack-Italic'),
			url('/fonts/FreightTextPro/FreightTextProBlack-Italic.eot?#iefix') format('embedded-opentype'),
			url('/fonts/FreightTextPro/FreightTextProBlack-Italic.woff2') format('woff2'),
			url('/fonts/FreightTextPro/FreightTextProBlack-Italic.woff') format('woff'),
			url('/fonts/FreightTextPro/FreightTextProBlack-Italic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'freight-text-pro-Book';
	src: url('/fonts/FreightTextPro/FreightTextProBook-Italic.eot');
	src: local('FreightText Pro Book Italic'), local('FreightTextProBook-Italic'),
			url('/fonts/FreightTextPro/FreightTextProBook-Italic.eot?#iefix') format('embedded-opentype'),
			url('/fonts/FreightTextPro/FreightTextProBook-Italic.woff2') format('woff2'),
			url('/fonts/FreightTextPro/FreightTextProBook-Italic.woff') format('woff'),
			url('/fonts/FreightTextPro/FreightTextProBook-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'freight-text-pro-Semibold';
	src: url('/fonts/FreightTextPro/FreightTextProSemibold-Italic.eot');
	src: local('FreightText Pro Semibold Italic'), local('FreightTextProSemibold-Italic'),
			url('/fonts/FreightTextPro/FreightTextProSemibold-Italic.eot?#iefix') format('embedded-opentype'),
			url('/fonts/FreightTextPro/FreightTextProSemibold-Italic.woff2') format('woff2'),
			url('/fonts/FreightTextPro/FreightTextProSemibold-Italic.woff') format('woff'),
			url('/fonts/FreightTextPro/FreightTextProSemibold-Italic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'freight-text-pro-Light';
	src: url('/fonts/FreightTextPro/FreightTextProLight-Regular.eot');
	src: local('FreightText Pro Light'), local('FreightTextProLight-Regular'),
			url('/fonts/FreightTextPro/FreightTextProLight-Regular.eot?#iefix') format('embedded-opentype'),
			url('/fonts/FreightTextPro/FreightTextProLight-Regular.woff2') format('woff2'),
			url('/fonts/FreightTextPro/FreightTextProLight-Regular.woff') format('woff'),
			url('/fonts/FreightTextPro/FreightTextProLight-Regular.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'freight-text-pro-Black';
	src: url('/fonts/FreightTextPro/FreightTextProBlack-Regular.eot');
	src: local('FreightText Pro Black'), local('FreightTextProBlack-Regular'),
			url('/fonts/FreightTextPro/FreightTextProBlack-Regular.eot?#iefix') format('embedded-opentype'),
			url('/fonts/FreightTextPro/FreightTextProBlack-Regular.woff2') format('woff2'),
			url('/fonts/FreightTextPro/FreightTextProBlack-Regular.woff') format('woff'),
			url('/fonts/FreightTextPro/FreightTextProBlack-Regular.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'freight-text-pro-Bold';
	src: url('/fonts/FreightTextPro/FreightTextProBold-Italic.eot');
	src: local('FreightText Pro Bold Italic'), local('FreightTextProBold-Italic'),
			url('/fonts/FreightTextPro/FreightTextProBold-Italic.eot?#iefix') format('embedded-opentype'),
			url('/fonts/FreightTextPro/FreightTextProBold-Italic.woff2') format('woff2'),
			url('/fonts/FreightTextPro/FreightTextProBold-Italic.woff') format('woff'),
			url('/fonts/FreightTextPro/FreightTextProBold-Italic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'freight-text-pro-Book';
	src: url('/fonts/FreightTextPro/FreightTextProBook-Regular.eot');
	src: local('FreightText Pro Book'), local('FreightTextProBook-Regular'),
			url('/fonts/FreightTextPro/FreightTextProBook-Regular.eot?#iefix') format('embedded-opentype'),
			url('/fonts/FreightTextPro/FreightTextProBook-Regular.woff2') format('woff2'),
			url('/fonts/FreightTextPro/FreightTextProBook-Regular.woff') format('woff'),
			url('/fonts/FreightTextPro/FreightTextProBook-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'freight-text-pro-Light';
	src: url('/fonts/FreightTextPro/FreightTextProLight-Italic.eot');
	src: local('FreightText Pro Light Italic'), local('FreightTextProLight-Italic'),
			url('/fonts/FreightTextPro/FreightTextProLight-Italic.eot?#iefix') format('embedded-opentype'),
			url('/fonts/FreightTextPro/FreightTextProLight-Italic.woff2') format('woff2'),
			url('/fonts/FreightTextPro/FreightTextProLight-Italic.woff') format('woff'),
			url('/fonts/FreightTextPro/FreightTextProLight-Italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

/*  */
/* Side-wide rules */
/*  */
:root {
	--primary-color: rgba(20, 20, 20, 1);
	--primary-color-faded: rgba(20, 20, 20, 0.5);
	--primary-color-light: rgba(20, 20, 20, 0.2);
	--highlight-background-color: rgba(2, 144, 226, 0.2);
	--aside-background-color: rgba(226, 211, 2, 0.2);
	--aside-bar-color: rgba(228, 216, 52, 0.849);
}

* {
	margin: 0;
	padding: 0;
	font-family: "freight-text-pro-Book";
}

html,
body {
	width: 100vw;
	height: 100vh;
}

body {
	max-width: 800px;
	margin: 0 auto;
}

.inside {
	max-width: 99%;
	padding-left: 1rem;
	padding-right: 1rem;
}

p,
h1,
h2,
h3,
h4 {
	color: var(--primary-color);
}

strong {
	font-family: 'freight-text-pro-Bold';
}


/*  */
/* Element Rules */
/*  */
p{
	font-size: 1.1rem;
	line-height: 150%;
	text-align: justify;
}

a {
	font-size: 1.1rem;
}

h1 {
	font-weight: 300;
	font-size: 1.8rem;
}

li {
	list-style-type: initial;
	list-style-position: inside;
	margin: 0.3rem;
}


/*  */
/* Block Rules */
/*  */
header {
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: baseline;
}

#site-title {
	text-decoration: none;
}

footer {
	margin-top: 1rem;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	border-top: 0.5px solid var(--primary-color-light);
}

footer p {
	text-align: center;
	color: var(--primary-color-light);
	font-size: 0.7rem;
}


/*  */
/* Custom Classes */
/*  */
.horizontal-list {
	display: inline-block;
}

.small-thick {
	font-size: 0.9rem;
	font-weight: 700;
}

.section-list-item {
	padding: 0.2rem;
}

.section-link {
	font-size: 1.1rem;
	text-decoration: none;
	color: initial;
}

.section-link:visited {
	color: initial;
}

.blog-list-item {
	list-style-type: none;
}

.blog-post-link {
	font-size: 1.1rem;
	text-decoration: underline dotted;
	/* text-decoration-line: underline; */
	text-decoration-color: var(--primary-color-faded);
	text-underline-offset: 2px;
}

.blog-post-link:hover {
	text-decoration-color: var(--primary-color);
}

.socials {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: baseline;
}

.aside {
	background-color: var(--aside-background-color);
	padding: 10px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-left: 4px solid var(--aside-bar-color);
}