{{ define "head" }}
    <link rel="stylesheet" href="/css/post.css" />
    {{ partial "formats" . }}
{{ end }}

{{ define "main" }}
    <section id="main">
        <h1 id="title">{{ .Title }}</h1>
        <section class="post-metadata">
            <h4 id="date"> {{ .Date.Format "Jan 2, 2006" }} </h4>
            <h5 id="wordcount"> {{ .WordCount }} Words </h5>
            <a href="{{.Site.BaseURL}}index.xml" target="blank" class="rss-link">RSS</a>
        </section>
        <div>
            <article id="content">
            {{ .Content }}
            </article>
        </div>
    </section>
    <!-- <aside id="meta">
        {{ with .PrevInSection }}
            <a class="previous" href="{{.Permalink}}"><< {{.Title}}</a>
        {{ end }}
        {{ with .NextInSection }}
            <a class="next" href="{{.Permalink}}">>> {{.Title}}</a>
        {{ end }}
    </aside> -->
{{ end }}

{{ define "footer" }}
    {{ partial "footer" . }}
{{ end }}