<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/css/style.css" />
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="favicon.png"/>
		<link rel="mask-icon" sizes="any" href="{{ .Site.BaseURL }}icons/favicon.svg" color="#5bbad5">
		<link rel="apple-touch-icon" sizes="192x192" href="{{ .Site.BaseURL }}/favicon.png">

		<!-- Open Graph -->
    <meta property="og:title" content="{{.Title}}" />
    <meta property="og:description" content="{{.Description}}" />
		{{ with .Thumbnail }}<meta property="og:image" content="{{ .Site.BaseURL }}images/{{ .Thumbnail }}" />{{end}}
    <meta property="og:image" content="{{ .Site.BaseURL }}icons/favicon.png">
    <meta name="twitter:card" value="summary" />
		<meta name="description" content="{{.Description}}" />

		<!-- IOS Metadata -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="{{.Title}}">
		<title>
			{{ block "title" . }} 
				{{ .Title }} 
			{{ end }}
		</title>
		{{ block "head" . }}
		{{ end }}
	</head>
	<body>
		<div class="inside">
			{{ partial "header" . }}
			<!-- Code that all your templates share, like a header -->
			{{ block "main" . }}
			<!-- The part of the page that begins to differ between templates -->
			{{ end }} 
			
			{{ block "footer" . }}
			<!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
			{{ end }}
		</div>
	</body>
</html>
