---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout>
  <div class="space-y-24 relative">
    <!-- Hero Section -->
    <section class="max-w-2xl mx-auto">
      <div class="">
        <div class="space-y-6">
          <p class="text-base leading-relaxed text-ink font-serif">
            <span class="font-semibold text-black">Hello.</span> This site is a public slice of my personal journal where I share what I'm interested in and what I've learned — usually about engineering, business, and life.
          </p>
          <p class="text-base leading-relaxed text-ink/80 font-serif">
            Currently, I'm spending a lot of time thinking about the ability (or lack thereof) to create great software at scale, creating artificial organs, and optimizing my personal health.
          </p>
        </div>

        <div class="flex justify-center">
          <img 
            src="/images/valley-2.jpg" 
            alt="Carmel Valley" 
            class="h-80 mix-blend-multiply"
          />
        </div>
      </div>
    </section>
  </div>
</BaseLayout>
