<footer>
    <div class="footer-links-nav">
        {{ range .Site.Menus.sections }}
            <a class="footer-link small-thick" href="{{.URL}}" 
                {{with .Params.targetBlank}} target="_blank" {{end}}>
                {{ .Title }}
                <!-- {{ with .Params.icon }}
                    <img class="social-icon" src="{{.}}" />
                {{end}} -->
            </a>
        {{ end }}
    </div>
    <div class="footer-links-socials">
        {{ range .Site.Menus.socials }}
            <a class="footer-link small-thick" href="{{.URL}}" 
                {{with .Params.targetBlank}} target="_blank" {{end}}>
                {{ .Title }}
                <!-- {{ with .Params.icon }}
                    <img class="social-icon" src="{{.}}" />
                {{end}} -->
            </a>
        {{ end }}
    </div>
    <p>&copy {{ dateFormat "2006" now }} {{ .Site.Title }}</p>
</footer>