{{ define "main" }}
  <main>
      <!-- <br> -->
      {{ .Content }}
      <br>
      <ul class="genre-list">
        {{ range .Pages }}
          {{ $render := .Params._build.render }}
          <li class="section-list-item book-list-item">
            {{ if (eq $render "never") }}
              <p class="book-title">{{.Title}}</p>
              <p class="book-author">{{.Params.author}}</p>
            {{ else }}
              <a class="book-post-link" href={{.Permalink}}>{{.Title}}</a>
            {{ end }}
          </li>
        {{ end }}
      </ul>
  </main>
{{ end }}

{{ define "footer" }}
    {{ partial "footer" . }}
{{ end }}